@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<p>The Roster Optimizer not only creates a 25 man roster for you, but it also allows you to view a database of MLB players and see each player's salary(in millions), their position, their overall player rating based on advanced metrics, and their player value, which is their overall rating/salary.</p>

<p>When you click on the optimize button, you will be shown the best possible roster that can be created based on player value. You can view up to 10 different rosters, displaying from best to worst. You can also chose to select a salary range of how much money you want to spend and the optimizer will return the best roster based on that. </p>