@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Thomas Alters<br />
    Milwaukee, WI<br />
    <abbr title="Phone">P:</abbr>
    414-222-3333
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:tjalters32@gmail.com">tjalters32@gmail.com</a><br />
</address>