@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Roster Optimizer</h1>
    <br />
    <br />
    <p class="lead">Roster Optimizer allows you to access an MLB player database and allows you to use an optimizer to build a 25 man roster while taking into account the player's skill levels and salary. This roster optimizer was created so you can build your own all-star lineup for a great price.</p>
</div>


@*<thead>
<tr>
    <th>playerName</th>
    <th>position</th>
    <th>playerRating</th>
    <th>salary</th>
    <th>playerValue</th>
</tr>
</thead>*@
@*<tbody>
    @foreach (var players in Model)
    {
        <tr>
            <td></td>
        </tr>
    }
</tbody>*@